@font-face {
    font-family: 'fuente';
    src: url('img/Utendo-Medium.ttf') format('woff2');
    /* Puedes agregar más formatos de fuentes si lo deseas */
  }
  

*{
    font-family: 'fuente';  
    margin: 0;
    padding: 0;
}

body{
    background-image: url("img/fondo.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*CABECERA*/
h1{
    padding-top: 1vh;
}
header{
    background-color: rgb(161, 175, 253);
    height: 10vh;
    border-radius:0 0vh 2vh 2vh ;
    box-shadow: 0 0 2vh rgb(161, 175, 253);
    border-bottom: 3px solid white;
}

#centrador{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nombre{
    width: 50%;
    text-align: start;
    margin-left: 5vh;
    font-size: 2.5vh;
}

#navegadores{
    display: flex;
    justify-content: end;
    margin-top: 0.1vh;
}

#items {
    text-decoration: none;
    padding: 0 4vh 0 1vh;
    font-size: 2.5vh;
    color: black;
    margin-top: 0.1vh;
}

#navegadores img{
    height: 2.5vh;
    width: 2.5vh;
}

/*presentacion*/
#presentacion{
    padding: 5vh;
    display: grid;
    grid-template-columns: 1fr 1fr 4fr;
    height: 90vh;
}

#presentacion img{
    width: 50vh;
    height: 50vh;
    border-radius: 20%;
    border: 1vh double rgb(161, 175, 253);
}

#foto{
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 1;
}

#yo{
    display: flex;
    margin:  0 0 1%;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    -webkit-text-stroke: 0.1px rgba(0, 238, 255, 0.637);
}

#yo p{
    width: 100%;
    font-size: 4vh;
}

#yo p span{
    color: rgb(73, 73, 73);
    width: 100%;
    font-size: 3vh;
}

#tarjeta{
    z-index: 0;
    background-color: white;
    padding: 2vh 2vh 2vh 18vh;
    margin-right: 100px;
    border-radius: 2vh;
    transform: translateX(-15%);
    box-shadow: 0 0 2vh rgb(161, 175, 253);
    border: solid 2px rgb(161, 175, 253);
}



/*titulos*/

#info{
    width: 100%;
}

#titulos{
    display: flex;
    justify-content: center;
    height: 10vh;
    font-size: 4vh;
    text-align: center;
    margin:  4vh 0 4vh 0;
    width: 100%;
    
}

#titulos h2 {
    background-color: white;
    box-shadow: 0 0 2vh rgb(161, 175, 253);
    border: 2px solid rgb(161, 175, 253);
    width: 30%;
    border-radius: 2vh;
    padding-top: 1.5vh;
    transition: transform 0.5s ease;
}

#datos{
    
}

article{
    
}
/*PROYECTOS*/

.carousel-container {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    width: 1000%;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .carousel {
    position: relative;
  }
  
  .carousel-content {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .slide {
    flex: 0 0 100%;
  }
  
  .carousel div>div>div>img {
    width: 90%;
    height: auto;
  }
  
  .carousel-container button>img {
    width: 100%;
  }
  
  .prev-btn{
    left: -50px; /* Ajusta la posición a la izquierda */
  }
  
  .next-btn{
    right: -50px; /* Ajusta la posición a la derecha */
  }

/*SOBRE MI*/
#sobremi{
    
}

#sobremi #datos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 87vh;
    align-items: center;
    margin-bottom: 2vh;
}

#sobremi #datos div{
    text-align: center;
    height: 38vh;
    width: 30vw;
    margin: 1vh;
    background-color: #fff;
    border-radius: 2vh;
    box-shadow: 1px 1px 2vh rgb(0, 0, 0);
    transition: transform 0.5s ease;
}

#sobremi #datos div:hover{
    transform: scale(1.05);
}

#sobremi #datos div h3{
    padding-top: 1vh;
    width: 100%;
    font-size: 3vh;
}
#sobremi #datos div>a{
    width: 30%;
}

#sobremi #datos div>a>img{
    width: 70%;
    transition: transform 0.5s ease;
}

#sobremi #datos div>a>img:hover{
    width: 70%;
    transform: scale(1.1);
}

#Redes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#sobremi #datos div>img{
    padding-top: 1vh;
    height: 70%;
    
}
