@font-face {
    font-family: 'fuente';
    src: url('img/Utendo-Medium.ttf') format('woff2');
    /* Puedes agregar más formatos de fuentes si lo deseas */
  }
  

*{
    font-family: 'fuente';  
    margin: 0;
    padding: 0;
}

body{
    background-image: url("img/fondo.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*CABECERA*/
h1{
    font-family: "Bebas Neue";
    padding-top: 1vh;
}
header{
    background-color: rgb(161, 175, 253);
    height: 10vh;
    box-shadow: 0 0 2vh rgb(161, 175, 253);
    
}

#centrador{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nombre{
    width: 50%;
    text-align: start;
    margin-left: 5vh;
    font-size: 2.5vh;
}

#navegadores{
    display: flex;
    justify-content: end;
    margin-top: 0.1vh;
}

#items {
    text-decoration: none;
    padding: 0 4vh 0 1vh;
    font-size: 2.5vh;
    color: black;
}

#navegadores i{
    height: 2.5vh;
    width: 2.5vh;
}

/*presentacion*/
#presentacion{
    box-shadow: inset 0 -2vh 3vh rgb(0, 0, 0);
    padding: 5vh;
    display: grid;
    grid-template-columns: 1fr 1fr 4fr;
    height: 90vh;
}

#presentacion img{
    width: 50vh;
    height: 50vh;
    border-radius: 20%;
    border: 1vh double rgb(161, 175, 253);
    box-shadow: 1px 1px 2vh rgb(0, 0, 0);
}

#foto{
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 1;
}

#yo{
    display: flex;
    margin:  0 0 1%;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    -webkit-text-stroke: 0.1px rgba(0, 238, 255, 0.637);
}

#yo #tarjetadato{
    width: 100%;
    font-size: 4vh;
}

#yo p span{
    color: rgb(73, 73, 73);
    width: 100%;
    font-size: 3vh;
    font-family: "Bebas Neue";
}

#tarjeta{
    z-index: 0;
    background-color: white;
    padding: 2vh 2vh 2vh 18vh;
    margin-right: 100px;
    border-radius: 2vh;
    transform: translateX(-15%);
    box-shadow: 0 0 2vh rgb(161, 175, 253);
    border: solid 2px rgb(161, 175, 253);
}



/*titulos*/

#info{
    width: 100%;
}

#titulos{
    display: flex;
    justify-content: center;
    height: 10vh;
    font-size: 4vh;
    text-align: center;
    margin:  4vh 0 4vh 0;
    width: 100%;
    
}

#titulos h2 {
    background-color: white;
    box-shadow: 0 0 2vh rgb(161, 175, 253),inset 1px 1px 2vh rgb(0, 0, 0);;
    border: 2px solid rgb(161, 175, 253);
    width: 30%;
    border-radius: 2vh;
    padding-top: 1.5vh;
    transition: transform 0.5s ease;
}

#datos{
    
}


/*PROYECTOS*/

#proyectos{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url("img/fondo2.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgb(161, 175, 253);
    box-shadow:  0 0 2vh rgb(0, 0, 0);
    border-top: black 5px solid;
    box-shadow: inset 0 -2vh 3vh rgb(0, 0, 0);
}

#proyectos img{
    height: 100%;

    
}

#carrusel{
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


/*SOBRE MI*/
#sobremi{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: url("img/fondo3.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-top: black 5px solid;
    box-shadow: inset 0 -2vh 3vh rgb(0, 0, 0);
}

#sobremi #datos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 90vh;
    align-items: center;
    margin-bottom: 2vh;
}

#sobremi #datos>div{
    text-align: center;
    height: 30vh;
    width: 30vw;
    margin: 1vh;
    background-color: rgb(255, 255, 255);
    border-radius: 2vh;
    box-shadow: 1px 1px 2vh rgb(0, 0, 0),inset 1px 1px 2vh rgb(161, 175, 253);
    transition: transform 0.5s ease, all 0.5s ease;
}

#sobremi #datos div:hover{
    transform: scale(1.05);
}

#sobremi #datos div h3{
    padding-top: 1vh;
    width: 100%;
    font-size: 3vh;
    height: 10%;
}
#sobremi #datos div>a{
    height: 60%;
}

#fotitos{
    height: 0%;
    background-color: none;
    opacity: 0;
}

#sobremi #datos div>i,#sobremi #datos div>a>img,#sobremi #datos div>a>i{
    padding-top: 1vh;
    height: 50%;
    font-size: 15vh;
}

#sobremi #datos div p{
    width: 100%;
    font-size: 2vh;
    height: 30;
}
.iconos{
    color: rgb(161, 175, 253);
    transition: all 0.1s ease;
    -webkit-text-stroke: #000000 2px;
}

.iconos:hover{
    color: rgb(62, 91, 252);
}


/*CONTACTO*/

#contacto{ 
    border-top: black 5px solid;
    box-shadow: inset 0 -2vh 3vh rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: url("img/fondo5.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#datosc{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

#pincontacto{
    background: #ffffff;
    height: 60vh;
    width: 60vw;
    box-shadow: 0 0 5vh rgb(161, 175, 253);
    border: 5px solid rgb(161, 175, 253);
}

#ciudad{
    display: flex;
    justify-content: space-between;
    margin: 3vh;
    font-size: 5vh;
    text-decoration: none;
    color: black;
    max-height: 25%;
}
#pin{
    height: 7vh;   
}

#centradorcontacto{
    display: flex;
    height: 70%;
    justify-content: space-between;
    
}

#datoscontacto{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

#nombredato{
    width: 100%;
    margin-left: 3vh;
    font-size: 3vh;
    color: rgb(115, 135, 248);
}

#infodato{
    width: 100%;
    font-size: 4vh;
    text-decoration: none;
    color: black;
    margin-left: 6vh;
    flex-grow: 1;
}

#qrcontacto{
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-grow: 1;
}

#qrcontacto img{
    max-height: 30vh;
    max-width: 30vw;
}

/*DIPLOMAS*/
#certificados{
    border-top: black 5px solid;
    box-shadow: inset 0 -2vh 3vh rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url("img/fondo4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#diplomas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 90vh;
    width: 100%;
}

#diploma{
    height: 50vh;
    width: auto;
    background-color: #fff;
    text-align: center;
    box-shadow:  1px 1px 2vh rgb(0, 0, 0);
    padding: 2vh 2vh 0 2vh;
    border-radius: 0 0 2vh 2vh;
    border: 2px solid rgb(0, 0, 0);
    box
}


#diploma img{
    height: 75%;
    border: 2px solid rgb(0, 0, 0);
    transition: transform 0.1s ease, all 0.2s ease;
}

#diploma img:hover{
    transform: scale(1.03);
}

#diploma div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    font-size: 4vh;
    
}

#diploma p{
    text-decoration: none;
    color: black;
    font-family: "Bebas Neue";
}

/*FOOTER*/  
footer{
    display: flex;
    width: 100%;
    align-items: center;
    background-color: rgb(161, 175, 253);
    height: 15vh;
    border-radius: 2vh 2vh 0 0vh;
    box-shadow: 0 0 2vh rgb(161, 175, 253);
    
}

#titulofooter{
    display: flex;
    align-items: center;
    height: 15vh;
    font-size: 4vh;
    width: 100%;
}

#titulofooter h2{
    padding: 2vh 0 0 2vh;
    display: flex;
    justify-content: space-between;
    width: 40%;
}

footer #Redes{
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer #Redes h3 {
    width: 100%;
    font-size: 3vh;   
    text-align: center; 
}

footer img{
    height: 7vh;
    transition: transform 0.5s ease;
}

.footericon{
    font-size: 7vh;
    transition: all 0.5s ease;
    color: #ffffff;
    -webkit-text-stroke:#000000 2px;
    opacity: 0.5;
}

#subir .arriba:hover,.footericon:hover{
    transform: scale(1.2);
    opacity: 1;
}

#subir{
    width: 40%;
    display: flex;
    justify-content: end;
}

#subir .arriba{
    margin: 2vh 10vh 0 0;
    transition: all 0.5s ease;
    font-size: 10vh;
    color: #fff;
    -webkit-text-stroke:#000000 2px;
    opacity: 0.5;
}


