body {
    background-color: #f8f9fa;
}
/*PRESENTACION*/
.card {
    margin-top: 50px;
}
.card-img {
    height: 100%;
    width: 100%;
    float: left;
    margin-right: 20px;
}

/*SOBRE MI*/

#sobremi,#proyectos, #contacto , #certificados{
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infographic {
    max-width: 100%;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.info-item {
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.info-item:hover {
    transform: scale(1.1);
    color: hsl(234, 95%, 75%);;
}

.icon {
    font-size: 48px;
    margin-bottom: 10px;
}